.footer {
  @include flex(row, center, center);
  padding: 2.4rem 0;
  background-color: $black;

  .container {
    @include flex(row, center, space-between);
  }

  @include responsive(820px) {
    padding: 3.2rem 0;
    .container {
      flex-direction: column;

      .icon {
        margin-top: 2.4rem;
      }
    }
  }
}
