// Mixin Media Queries
@mixin responsive($screenWidth) {
  @media (max-width: $screenWidth) {
    @content;
  }
}

// Mixin Display Flex
@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

// Mixin Botoes
@mixin style-btn($height, $bg, $colorText, $hoverBg, $hoverText) {
  display: inline-block;
  height: $height;
  line-height: $height;
  background-color: $bg;
  color: $colorText;
  padding: 0 6rem;
  font-family: "DM Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  transition: all 0.3s;
  text-align: center;
  border-radius: 0.4rem;
  cursor: pointer;

  &:hover {
    background-color: $hoverBg;
    color: $hoverText;
  }
}
