// Botões style-btn($height, $bg, $colorText, $hoverBg, $hoverText)
.btn-primary {
  @include style-btn(50px, $color-primary, $white, $color-secondary, $white);
}

.btn-whatsapp {
  @include style-btn(50px, #25d366, $white, #075e54, $white);
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

// .btn-neutral {
//   @include style-btn(50px, $white, $color-primary, $color-primary, $white);
// }

// .btn-outline-white {
//   @include style-btn(50px, transparent, $white, $white, $color-secondary);
//   border: 2px solid $white;
// }

// .btn-outline-primary {
//   @include style-btn(50px, transparent, $color-primary, $color-primary, $white);
//   border: 2px solid $color-primary;
// }

@include responsive(480px) {
  .btn-primary {
    // .btn-neutral,
    // .btn-whatsapp,
    // .btn-outline-white,
    // .btn-outline-primary
    font-size: 1.8rem;
    padding: 0 5rem;
  }
}

// Cor dos links
a {
  color: $color-primary;
}

// Linha Divisória
// hr {
//   border-top: 1px solid $gray-200;
// }

// Forms
// input,
// select,
// .input-file {
//   height: 4.8rem;
// }

// select {
//   background-color: $white;
// }

// textarea {
//   padding-top: 1.6rem;
// }

// input,
// textarea,
// select,
// option,
// .input-file {
//   margin-bottom: 2.4rem;
//   font-size: 1.6rem;
//   text-indent: 1.6rem;
//   color: $gray-500;
// }

// input::placeholder,
// textarea::placeholder,
// select::placeholder,
// option::placeholder {
//   color: $gray-500;
// }

// @include responsive(810px) {
//   input,
//   textarea,
//   select {
//     margin-bottom: 3.2rem;
//     font-size: 1.8rem;
//   }

//   input,
//   select {
//     height: 6.4rem;
//   }
// }

// Links Hover Underline
// .link {
//   cursor: pointer;
//   position: relative;
//   white-space: normal;

//   &::before,
//   &::after {
//     position: absolute;
//     width: 100%;
//     height: 1px;
//     top: 100%;
//     left: 0;
//     pointer-events: none;
//   }

//   &::before {
//     content: "";
//     background: currentColor; // Cor da linha
//   }

//   &.under::before {
//     transform-origin: 100% 50%;
//     transform: scale3d(0, 1, 1);
//     transition: transform 0.3s;
//   }
//   &.under:hover::before {
//     transform-origin: 0% 50%;
//     transform: scale3d(1, 1, 1);
//   }
// }

// Scroll Down Effect
// .scroll-down {
//   position: absolute;
//   top: 520px;

//   span {
//     display: block;
//     width: 20px;
//     height: 20px;
//     border-bottom: 2px solid white;
//     border-right: 2px solid white;
//     transform: rotate(45deg);
//     margin: -10px;
//     animation: animate 2s infinite;

//     &:nth-child(2) {
//       animation-delay: -0.2s;
//     }

//     &:nth-child(3) {
//       animation-delay: -0.4s;
//     }
//   }

//   @keyframes animate {
//     0% {
//       opacity: 0.2;
//       transform: rotate(45deg) translate(-20px, -20px);
//     }
//     50% {
//       opacity: 1;
//     }
//     100% {
//       opacity: 0.2;
//       transform: rotate(45deg) translate(20px, 20px);
//     }
//   }
// }

// Pulse Effect
// .pulse {
//   height: 100%;
//   width: 100%;
//   border-radius: 50%;
//   animation: pulse 2.5s infinite;

//   @keyframes pulse {
//     0% {
//       transform: scale(0.95);
//       box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
//     }

//     70% {
//       transform: scale(1);
//       box-shadow: 0 0 0 16px rgba(255, 255, 255, 0);
//     }

//     100% {
//       transform: scale(0.95);
//       box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
//     }
//   }
// }

// Shake Effect
// .shake {
//   animation: shake-animation 5s ease infinite;
//   transform-origin: 50% 50%;

//   @keyframes shake-animation {
//     0% {
//       transform: translate(0, 0);
//     }
//     1.78571% {
//       transform: translate(5px, 0);
//     }
//     3.57143% {
//       transform: translate(0, 0);
//     }
//     5.35714% {
//       transform: translate(5px, 0);
//     }
//     7.14286% {
//       transform: translate(0, 0);
//     }
//     8.92857% {
//       transform: translate(5px, 0);
//     }
//     10.71429% {
//       transform: translate(0, 0);
//     }
//     100% {
//       transform: translate(0, 0);
//     }
//   }
// }

// Floating-Down Effect
// .floating-down {
//   animation-name: floating-down;
//   animation-duration: 4s;
//   animation-iteration-count: infinite;
//   animation-timing-function: ease-in-out;
//   margin-top: 5px;

//   @keyframes floating-down {
//     from {
//       transform: translate(0, 0px);
//     }
//     65% {
//       transform: translate(0, 14px);
//     }
//     to {
//       transform: translate(0, -0px);
//     }
//   }
// }

// Floating-Left Effect
// .floating-left {
//   animation-name: floating-left;
//   animation-duration: 4s;
//   animation-iteration-count: infinite;
//   animation-timing-function: ease-in-out;
//   margin-top: 5px;

//   @keyframes floating-left {
//     from {
//       transform: translate(0, 0px);
//     }
//     65% {
//       transform: translate(-14px, 0);
//     }
//     to {
//       transform: translate(0, -0px);
//     }
//   }
// }

// Animation Slideup
// @keyframes slideUp {
//   to {
//     transform: initial;
//     opacity: initial;
//   }
// }

// @keyframes show-up {
//   from {
//     opacity: 0;
//     transform: translate3d(0, 30px 0);
//   }
//   to {
//     opacity: 1;
//     transform: translate3d(0, 0, 0);
//   }
// }

// .swiper-pagination-bullet-active,
// .swiper-button-prev,
// .swiper-button-next {
//   color: $color-primary;
// }

// @keyframes zoom {
//   from {
//     transform: scale(1, 1);
//   }
//   to {
//     transform: scale(1.2, 1.2);
//   }
// }
