h1 {
  font-size: 6.4rem;
  font-weight: 800;
}

h2 {
  font-size: 3.6rem;
  line-height: 110%;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.8rem;
}

h1,
h2 {
  line-height: 130%;
  color: $color-primary;
}

h1,
h2,
h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: $white;
}

p,
li,
a,
blockquote,
cite {
  font-size: 1.6rem;
  color: $color-text;
}

.subtitle {
  font-size: 2.4rem;
}

@include responsive(820px) {
  h1 {
    font-size: 3.6rem;
  }
  h2 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.8rem;
  }
  p,
  a {
    font-size: 1.6rem;
  }
  .subtitle {
    font-size: 1.8rem;
  }
}
