$color-primary: #7f5af0;
$color-secondary: #a277ff;
$color-tertiary: #95162a;

$color-text: #94a1b2;

$gray-50: #f7f7f7;
$gray-100: #fcfcfc;
$gray-200: #e1e1e1;
$gray-300: #a8a8a8;
$gray-400: #777777;
$gray-500: #494d4b;
$gray-600: #16161a;

$white: #fffffe;
$black: #000000;
