$color-primary: #7f5af0;
$color-secondary: #5b2bec;
$color-tertiary: #2cb67d;

$color-text: #94a1b2;

$gray-400: #72757e;
$gray-500: #242629;
$gray-600: #16161a;

$white: #fffffe;
$black: #010101;

// Colors: https://www.happyhues.co/palettes/4
