* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(18, 18, 18);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1366' height='768' preserveAspectRatio='none' viewBox='0 0 1366 768'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1221%26quot%3b)' fill='none'%3e%3crect width='1366' height='768' x='0' y='0' fill='url(%23SvgjsLinearGradient1222)'%3e%3c/rect%3e%3cpath d='M-30.637577481464415-9.586381709817744L-75.54587132687679 137.3020288061045 167.24089136971276 131.22026431626193z' fill='rgba(31%2c 31%2c 31%2c 0.76)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M128.345%2c258.841C176.5%2c258.635%2c223.019%2c238.579%2c248.466%2c197.697C275.41%2c154.411%2c278.484%2c100.469%2c255.142%2c55.139C229.642%2c5.619%2c184.016%2c-37.365%2c128.345%2c-35.575C74.72%2c-33.85%2c39.695%2c15.269%2c14.93%2c62.865C-7.519%2c106.009%2c-17.929%2c156.638%2c6.432%2c198.732C30.756%2c240.763%2c79.783%2c259.049%2c128.345%2c258.841' fill='rgba(31%2c 31%2c 31%2c 0.76)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-60.69024064189415 86.8932516184845L6.643567504908077 224.9480171300366 180.0588116988351 54.91992215405719z' fill='rgba(31%2c 31%2c 31%2c 0.76)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1231.672%2c74.663C1251.089%2c74.784%2c1267.293%2c62.234%2c1277.778%2c45.891C1289.373%2c27.818%2c1297.487%2c6.003%2c1288.114%2c-13.316C1277.688%2c-34.806%2c1255.557%2c-49.151%2c1231.672%2c-49.146C1207.795%2c-49.141%2c1185.563%2c-34.837%2c1175.272%2c-13.291C1166.082%2c5.951%2c1175.042%2c27.37%2c1186.553%2c45.321C1196.932%2c61.507%2c1212.444%2c74.543%2c1231.672%2c74.663' fill='rgba(31%2c 31%2c 31%2c 0.76)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1325.342184849041 209.83827447143835L1448.012599192305 117.39948691528372 1248.019210686441-20.386740821535227z' fill='rgba(31%2c 31%2c 31%2c 0.76)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1366.686132629343 190.82341535907375L1452.5781626024498 63.483244214619305 1218.6218908992148-1.684715172813469z' fill='rgba(31%2c 31%2c 31%2c 0.76)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M195.4795333845488 739.1496439572368L29.806017249597716 534.1607514496618-56.50334187342844 747.7839115418496z' fill='rgba(31%2c 31%2c 31%2c 0.76)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M198.694%2c1049.841C279.117%2c1049.536%2c345.708%2c990.673%2c381.694%2c918.749C414.064%2c854.052%2c401.119%2c779.758%2c365.263%2c716.926C329.029%2c653.431%2c271.628%2c603.084%2c198.694%2c598.072C116.338%2c592.413%2c28.305%2c619.4%2c-12.882%2c690.941C-54.003%2c762.369%2c-28.579%2c849.146%2c13.276%2c920.146C54.33%2c989.787%2c117.854%2c1050.147%2c198.694%2c1049.841' fill='rgba(31%2c 31%2c 31%2c 0.76)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M196.617%2c1008.801C266.85%2c1004.608%2c328.106%2c968.064%2c366.425%2c909.056C409.151%2c843.262%2c439.561%2c761.311%2c402.092%2c692.387C363.415%2c621.241%2c277.459%2c591.985%2c196.617%2c596.698C123.57%2c600.956%2c67.561%2c652.066%2c28.832%2c714.147C-13.033%2c781.253%2c-51.493%2c862.936%2c-12.355%2c931.668C27.025%2c1000.824%2c117.176%2c1013.543%2c196.617%2c1008.801' fill='rgba(31%2c 31%2c 31%2c 0.76)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1226.381%2c675.286C1245.794%2c676.243%2c1266.895%2c674.131%2c1278.033%2c658.202C1290.657%2c640.147%2c1293.213%2c615.211%2c1281.378%2c596.629C1270.177%2c579.043%2c1247.227%2c576.687%2c1226.381%2c577.103C1206.485%2c577.5%2c1184.908%2c581.458%2c1175.058%2c598.75C1165.277%2c615.921%2c1171.853%2c637.095%2c1182.859%2c653.508C1192.543%2c667.949%2c1209.015%2c674.43%2c1226.381%2c675.286' fill='rgba(31%2c 31%2c 31%2c 0.76)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1175.2808406911206 550.5215540946015L1151.1974827542533 779.6593987874517 1404.4186853839708 574.6049120314689z' fill='rgba(31%2c 31%2c 31%2c 0.76)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1202.8136182901824 798.6375774814645L1349.7020288061046 843.5458713268769 1343.620264316262 600.7591086302873z' fill='rgba(31%2c 31%2c 31%2c 0.76)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1221'%3e%3crect width='1366' height='768' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='10.94%25' y1='-19.47%25' x2='89.06%25' y2='119.47%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1222'%3e%3cstop stop-color='rgba(10%2c 10%2c 7%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(18%2c 18%2c 18%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  font-family: "DM Sans", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
  height: auto;
  clip-path: circle();
}

img:hover {
  filter: grayscale();
}

h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 4rem;
  text-align: center;
  font-weight: 600;
}

h2 {
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.2);
  font-size: 1.5rem;
  font-weight: 400;
}

span {
  color: white;
}

@media (max-width: 700px) {
  h1 {
    font-size: 3rem;
    max-width: 300px;
  }
}
