<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Primary Meta Tags -->
  <title>{{ page.title }}</title>
  <meta name="title" content="{{ page.title }}">
  <meta name="description" content="{{ page.description | strip_html | strip_newlines | truncate: 160 }}">
  <meta name="robots" content="index,follow">
  <meta name="author" content="Matheus Costa">
  <meta name="copyright" content="Matheus Costa" />
  <meta name="keywords"
    content="matheus costa, matheuscostadesign, matheus costa design, matheus costa ux, matheus costa dev, matheus costa designer, criação de sites, criar site em rio preto, profissional para criar site">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:image" content="{{ site.url }}/{{ page.image }}">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="{{ site.url }}{{ page.url }}">
  <meta property="twitter:title" content="{{ page.title }}">
  <meta property="twitter:description" content="{{ page.description }}">
  <meta property="twitter:image" content="{{ site.url }}/{{ page.image }}">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="{{'/assets/favicon/apple-icon-57x57.png' | prepend: site.baseurl}}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{'/assets/favicon/apple-icon-60x60.png' | prepend: site.baseurl}}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{'/assets/favicon/apple-icon-72x72.png' | prepend: site.baseurl}}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{'/assets/favicon/apple-icon-76x76.png' | prepend: site.baseurl}}">
  <link rel="apple-touch-icon" sizes="114x114"
    href="{{'/assets/favicon/apple-icon-114x114.png' | prepend: site.baseurl}}">
  <link rel="apple-touch-icon" sizes="120x120"
    href="{{'/assets/favicon/apple-icon-120x120.png' | prepend: site.baseurl}}">
  <link rel="apple-touch-icon" sizes="144x144"
    href="{{'/assets/favicon/apple-icon-144x144.png' | prepend: site.baseurl}}">
  <link rel="apple-touch-icon" sizes="152x152"
    href="{{'/assets/favicon/apple-icon-152x152.png' | prepend: site.baseurl}}">
  <link rel="apple-touch-icon" sizes="180x180"
    href="{{'/assets/favicon/apple-icon-180x180.png' | prepend: site.baseurl}}">
  <link rel="icon" type="image/png" sizes="192x192"
    href="{{'/assets/favicon/android-icon-192x192.png' | prepend: site.baseurl}}">
  <link rel="icon" type="image/png" sizes="32x32"
    href="{{'/assets/favicon/favicon-32x32.png' | prepend: site.baseurl}}">
  <link rel="icon" type="image/png" sizes="96x96"
    href="{{'/assets/favicon/favicon-96x96.png' | prepend: site.baseurl}}">
  <link rel="icon" type="image/png" sizes="16x16"
    href="{{'/assets/favicon/favicon-16x16.png' | prepend: site.baseurl}}">
  <link rel="manifest" href="{{ '/assets/favicon/manifest.json' | prepend: site.baseurl}}">
  <meta name="msapplication-TileColor" content="#7f5af0">
  <meta name="msapplication-TileImage" content="{{'/assets/favicon/ms-icon-144x144.png' | prepend: site.baseurl}}">
  <meta name="theme-color" content="#7f5af0">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
    rel="stylesheet">

  <!-- Styles -->
  <link rel="stylesheet" href="{{ '/css/swiper-bundle.min.css' | prepend: site.baseurl }}" />
  <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">

  <!-- Schema - Person -->
  <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Person",
      "name": "Matheus Costa",
      "url": "https://matheuscostadesign.github.io/",
      "image": "https://matheuscostadesign.github.io/assets/matheus.jpg",
      "sameAs": [
        "https://www.facebook.com/matheuscostadev",
        "https://x.com/matheuscdesign",
        "https://www.instagram.com/matheuscosta.design/",
        "https://www.linkedin.com/in/mattheuscosta",
        "https://github.com/matheuscostadesign",
        "https://matheuscostadesign.github.io/"
      ],
      "jobTitle": "UX/UI Designer | Desenvolvedor Front-end"  
    }
    </script>

  <meta name="google-site-verification" content="BLM8JkaGm0f3prLH3_m0eWhv1nM3kWGvJhgCr6kcxiA" />

</head>