* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  list-style: none;
  list-style-position: inside;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
}

html {
  font-size: 62.5%;
  //scroll-behavior: smooth;

  @include responsive(1280px) {
    font-size: 55.5%;
  }

  @include responsive(600px) {
    font-size: 62.5%;
  }
}

body {
  background-color: $gray-600;
}

section {
  padding: 8rem 0;
}

img {
  vertical-align: middle;
}

img,
iframe {
  max-width: 100%;
}

a:hover {
  color: $color-primary;
  text-decoration: none;
}

ol,
ul {
  margin-bottom: 0;
}

// Barra de navegação
*::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}
*::-webkit-scrollbar {
  width: 7px;
  background-color: $gray-600;
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $color-secondary;
}

// Cor texto selecionado
*::selection {
  color: $white;
  background-color: $color-secondary;
}
