$color-primary: #7f5af0;
$color-secondary: #5b2bec;
$color-tertiary: #2cb67d;

$color-text: #94a1b2;

$gray-400: #72757e;
$gray-500: #242629;
$gray-600: #1e2022;
$gray-700: #16161a;
$gray-800: #121216;

$white: #fffffe;
$black: #010101;

// Editor
$code-bg: #15141b;
$code-primary: #a277ff;
$code-secondary: #f694ff;
$code-tertiary: #61ffca;
