---
layout: default
title: Blog - Matheus Costa - UX/UI Designer e Desenvolvedor Front-end em São José do Rio Preto/SP
description: Profissional especializado em criação de sites em São José do Rio Preto/SP
image: assets/ogimage.jpg
---

{% include header.html %}

<div class="banner-blog">
  <div class="title">
    <h1>Todos artigos no blog</h1>
    <p>Neste blog compartilho dicas e novos conhecimentos adquiridos sobre desenvolvimento web e design UX/UI 👊</p>
  </div>
</div>

<section class="s-all-blog">
  <div class="container">
    <div class="all-posts">
      {% for post in site.posts %}
      <a href="{{ post.url }}" class="post-single">
        <img class="img-single" src="{{ site.baseurl }}/{{ post.image }}" alt="{{ post.title }}">
        <h3>{{ post.title | truncate: 48 }}</h3>
        <p>{{ post.description | strip_html | truncate: 78 }}</p>
      </a>
      {% endfor %}
    </div>
  </div>
</section>