{% include head.html %}

<body>
  {{ content }}
</body>

{% include footer.html %}

<!-- Scripts -->
<script src="js/particles.min.js" defer></script>
<script src="js/particlesjs-config.min.js" defer></script>
<script src="js/jquery-3.6.0.min.js"></script>
<script src="js/scripts.js"></script>
<script src="js/swiper-bundle.min.js"></script>

<!-- Swiper -->
<script>
  var swiper = new Swiper(".slides-frontend", {
    pagination: {
      el: ".swiper-pagination",
      type: "fraction",
      clickable: true,
    },
    loop: true,
    keyboard: {
      enabled: true,
    },
    autoplay: {
      delay: 5000,
      disableOnInteraction: false,
    },
    breakpoints: {
      320: {
        slidesPerView: 1,
        spaceBetween: 16,
      },
      600: {
        slidesPerView: 2.5,
        spaceBetween: 32,
      },
      1200: {
        slidesPerView: 3,
        spaceBetween: 32,
      }
    },
    centeredSlides: true,
    spaceBetween: 30,
    grabCursor: true,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });

  var swiper = new Swiper(".slides-uxdesign", {
    pagination: {
      el: ".swiper-pagination",
      type: "fraction",
      clickable: true,
    },
    loop: true,
    keyboard: {
      enabled: true,
    },
    autoplay: {
      delay: 6000,
      disableOnInteraction: false,
    },
    breakpoints: {
      320: {
        slidesPerView: 1,
        spaceBetween: 16,
      },
      600: {
        slidesPerView: 2.5,
        spaceBetween: 32,
      },
      1200: {
        slidesPerView: 3,
        spaceBetween: 32,
      }
    },
    centeredSlides: true,
    spaceBetween: 30,
    grabCursor: true,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>

</html>