---
layout: default
---

{% include header.html %}

{% if page.image %}
<img class="banner-post" src="{{ site.baseurl }}/{{ page.image }}" alt="{{ page.title }}">
{% endif %}

<div class="article">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <div class="post-info">
      <img class="post-author" src="{{ site.author.img }}" alt="{{ site.author.name }}" />
      <p>Autor: {{ page.author }} </p>
      <p> Postado em:
        {% assign meses = "Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro,
        Dezembro" | split: ", " %}
        {% assign dia = page.date | date: "%d" %}
        {% assign mes_num = page.date | date: "%m" | minus: 1 %}
        {% assign mes = meses[mes_num] %}
        {% assign ano = page.date | date: "%Y" %}
        <time datetime="{{ page.date | date_to_xmlschema }}">{{ dia }} de {{ mes }} de {{ ano }}</time>
      </p>
      <p>Categoria: <span class="categorie">{{ page.categories }}</span></p>
    </div>
    <hr>
    <article>
      {{ content }}
    </article>
  </div>
</div>